bot_path
llvm*.bottle.*.tar.gz
rust-*.bottle.*.tar.gz
message.txt
tmpBot
tmpbot
tobe.bot
tobe.run
tobe.install
tobe.move
nohup.out
ghc-*.bottle.*.tar.gz
arangodb*
bitcoin-*.tar.gz
bit-*.tar.gz
cling-*.tar.gz 
fits-*.tar.gz
ghc-*.tar.gz
fstar*.tar.gz 
augustus-*.tar.gz
emboss-*.tar.gz
kent-tools-353.x86_64_linux.bottle.1.tar.gz
mitofy*.tar.gz
openbr*.tar.gz
repeatmasker-*.tar.gz
gap-*.gz
transdecoder-5.0.2.x86_64_linux.bottle.1.tar.gz
humann2-0.4.0_1.x86_64_linux.bottle.1.tar.gz
joshua-*.tar.gz
mingw-w64-5.0.3.x86_64_linux.bottle.1.tar.gz
mitie-0.5.x86_64_linux.bottle.1.tar.gz
mysql*.tar.gz
amos*.tar.gz
